body {
  margin:0px;
  background-color:rgba(0, 0, 0, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1431px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:848px;
  height:838px;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:726px;
  top:-28px;
  width:848px;
  height:838px;
  opacity:0.5;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:411px;
  width:844px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:848px;
  height:838px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:-28px;
  width:848px;
  height:838px;
  opacity:0.5;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:411px;
  width:844px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:292px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:-5px 7px 5px rgba(0, 0, 0, 0.349019607843137), 2px -2px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:-5px 7px 5px rgba(0, 0, 0, 0.349019607843137), 2px -2px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:-5px 7px 5px rgba(0, 0, 0, 0.349019607843137), 2px -2px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:605px;
  top:209px;
  width:220px;
  height:292px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:138px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:848px;
  height:838px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:-143px;
  top:-28px;
  width:848px;
  height:838px;
  opacity:0.5;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:411px;
  width:844px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:292px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:-5px 7px 5px rgba(0, 0, 0, 0.349019607843137), 2px -2px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:-5px 7px 5px rgba(0, 0, 0, 0.349019607843137), 2px -2px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:-5px 7px 5px rgba(0, 0, 0, 0.349019607843137), 2px -2px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:209px;
  width:220px;
  height:292px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:138px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:275px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:218px;
  width:203px;
  height:275px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:130px;
  width:199px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:275px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:616px;
  top:218px;
  width:199px;
  height:275px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:130px;
  width:195px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:292px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:-5px 7px 5px rgba(0, 0, 0, 0.349019607843137), 2px -2px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:-5px 7px 5px rgba(0, 0, 0, 0.349019607843137), 2px -2px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:-5px 7px 5px rgba(0, 0, 0, 0.349019607843137), 2px -2px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:1040px;
  top:210px;
  width:220px;
  height:292px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:138px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:271px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:1051px;
  top:221px;
  width:199px;
  height:271px;
  font-family:'JCHEadA', 'HeadLineA';
  font-weight:900;
  font-style:normal;
  color:#FFFFFF;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:128px;
  width:195px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:734px;
  height:74px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:57px;
  width:734px;
  height:74px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:72px;
  color:#C9C9C9;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:29px;
  width:730px;
  visibility:hidden;
  word-wrap:break-word;
}
