.second {
	border: 20px #bdc3c7 solid;
	/*margin-left: 20%;*/
	/*margin-right: 20%;*/
	font-family: "Source Sans Pro";
	padding: 20px;
	max-width: 700px;
	width: 80%;
	margin: 0 auto;
	

}

.date {
	color: #3498db;
	text-transform: uppercase;
	font-weight: 700;
	font-stretch: extra-expanded;
	letter-spacing: 0.2rem;
}

.quote {
	border-left: 5px solid #bdc3c7;
	padding-left: 5px;
}

h2 {
	color: #2c3e50;
	font-weight: 700;
	font-size: 2.0rem;
}

hr { 
  border : 0;
  height: 1px; 
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)); 
}

.post {
	margin-bottom: 20px;
}
